samples/
data/
figures/
runs/
old_runs/
samples/
slurm/
wandb/
wandb_logs/
lightning_logs/
media/
outputs/
.vscode/
__pycache__/
**.pdf
**.csv
**.pkl

# ignore all __pycache__ directories no matter the depth of the directory
**/__pycache__/
**/pet_harmonization.egg-info/